*{
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background-color: white;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
 }

 a {
  text-decoration: none !important;
  color: #405cab;

}

nav{
  width: 100%;
  height: 80px;
  display: block;
}

nav ul{
  padding: 20px;
  float: right;
}

.navBarStyleLinks li{
  display: inline;
  color: #405cab;
  font-size: 1.7em;
  margin-right: 20px;
  font-weight: bold;
  text-decoration: none;
}

.grayBlob{
  position: relative;
  top: -539px;
  left: -100px;
  z-index: -1;
  transform: rotate(25deg);
  height: 700px;
  width: 900px;
  display: block;
}

.mypic{
  position: relative;
  margin-left: 160px;
  display: block;
}

.landingMain{
  height: 700px;
  display: flex;
}

.imageMain{
  width: 50%;
}

.contentMain{
  width: 50%;
}

.contentMain h1{
  color: #405cab;
  font-size: 5em;
  padding-top: 75px;
  padding-left: 20px;
}

.contentMain h2{
  color: #405cab;
  font-size: 4em;
  padding-left: 20px;
}

.contentMain p:first-of-type{
  color: #405cab;
  font-size: 1.2em;
  height: 400px;
  padding-left: 20px;
  padding-top: 10px;
}

.contentMain p:nth-of-type(2){
    color: #405cab;
    margin-top: -350px;
    font-size: 1.3em;
    line-height: 1.3;
    padding-left: 20px;
    display: block;
}

.nameNav{
  float: left;
  color: #405cab;
  padding: 20px;
  font-size: 1.7em;
  font-weight: bold;
}

.projects{
  background-color: #405cab;
  height: 180px;
  text-align: center;
  width: 100%;
  display: block;
}

.projects h1{
  color: white;
  font-size: 4em;
  padding-top: 40px;
}

.projects p:first-of-type{
  color: white;
  font-size: 1.2em;
}

.portfoliolnk{
  width: 60px;
  padding-right: 40px;
}

.logos{
  display: flex;
}

.arrowlnk{
  width: 80px;
  position: absolute;
  top: 680px;
  left: 50%;
}

.projectDetails{
  height: 650px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
}

.project1{
  background-color: white;
  display: flex;
  justify-content: space-around;  
  padding-left: 20px;
  width: 500px;
  padding-top: 80px;
}

.project1 img{
  width: 400px;
  justify-content: center;
  display: block;
  box-shadow: 0px 1px 5px grey;

}

.project1 h2{
  color: #405cab;
  padding-top: 20px;
  font-size: 2em;
  font-weight: 900;
}


.project1 p:first-of-type{
  padding-top: 20px;
  color: #405cab;
  font-size: 1.2em;
  line-height: 1.3;
}

.project1 p:nth-of-type(2){
  padding-top: 20px;
  color: #405cab;
  font-size: 1em;
  line-height: 1.3;
}

.contact{
  background-color: #405cab;
  height: 500px;
  text-align: center;
  padding-bottom: 15px;
  width: 600px;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0px 1px 5px grey;
  display: block;
  margin-bottom: 100px;
}

.contact p{
  color: white;
  font-size: 3em;
  padding-top: 30px;
  padding-bottom: 30px;
}


.contact input:first-of-type{
  width: 60%;
  border: 2px solid #dbdfe4;
  padding: 10px 10px;
  border-radius: 4px;
  margin: 5px;
}

.contact input:nth-of-type(2){
  width: 60%;
  border: 2px solid #dbdfe4;
  padding: 10px 10px;
  border-radius: 4px;
  margin: 5px;
}

.contact input:nth-of-type(3){
  width: 60%;
  border: 2px solid #dbdfe4;
  padding: 10px 10px;
  padding-bottom: 150px;
  border-radius: 4px;
  margin: 5px;
}

.contactMain{
  display: flex;
  justify-content: center;
  
}

.mailSubmit{
  margin-top: 20px;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid #dbdfe4;
}

.bottomFoot{
  display: flex;
  justify-content: space-between;
  background-color: #405cab;
  padding: 10px 20px 10px 5px;
}

.footBottom{
  background-color: #405cab;
  display: flex;
}

.nameFot{
  color: white;
  font-size: 2.8em;
  margin-right: 20px;
  font-weight: bold;
  text-decoration: none;
}
